{% extends "rest_framework/base.html" %}
{% block branding %}
    <a href="/" style="margin: 10 10 20px; font-weight: bold; color: white;font-size: xx-large; ">Clinica</a>
    <a href="/api/doctor/" style="margin-left: 50%; font-weight: bold; color: white;font-size: larger; ">Doctores</a>
    <a href="/api/paciente/" style="margin-left: 10%; font-weight: bold; color: white;font-size: larger; ">Pacientes</a>
    <a href="/api/hora/" style="margin-left: 10%; font-weight: bold; color: white;font-size: larger; ">Horas</a>
{% endblock %}
