{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "header.html" %}
    <link text="text/css" rel="stylesheet" href="{% static 'css/styleTable.css' %}">
    <link text="text/css" rel="stylesheet" href="{% static 'css/styleNav.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Horas</title>
</head>
<body>
    {% include 'navigation.html' %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-9" style="width: 100%;">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-sm-3 col-xs-12">
                                <h4 class="title">Listado <span>Pacientes</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Motivo</th>
                                    <th>Paciente</th>
                                    <th>Doctor</th>
                                    <th>Especialidad</th>
                                    <th>Prevision</th>
                                    <th>Fecha</th>
                                    <th>Precio</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for f in fichas %}
                                <tr>
                                    <td>{{f.id}}</td>
                                    <td>{{f.motivo}}</td>
                                    <td>{{f.paciente.nombre}} {{f.paciente.apellido}}</td>
                                    <td>{{f.doctor.nombre}} {{f.doctor.apellido}}</td>
                                    <td>{{f.doctor.especialidad}}</td>
                                    <td>{{f.prevision}}</td>
                                    <td>{{f.fecha}}</td>
                                    <td><span style="color: green;">$ </span> {{f.precio_total}}</td>
                                    <td>
                                        <ul class="action-list">
                                            <li><a href="{% url 'horaPKMixins' f.id  %}" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>