{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "header.html" %}
    <link text="text/css" rel="stylesheet" href="{% static 'css/styleNav.css' %}">
    <link text="text/css" rel="stylesheet" href="{% static 'css/styleCard.css' %}">
    <title>Home</title>
</head>

<body >
    {% include 'navigation.html' %}
    <div >
    <h1 class="text-center mt-4 fw-bolder">  Bienvenido a Clinica Papitas Fritas <img src="{%static '/img/papas-fritas.png'%}" width="3%" height="50"></h1>
    <script typye="text/javascript" src="{%  static 'js/script.js' %}"></script></div>
</body>


</html>