{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "header.html" %}
    <link text="text/css" rel="stylesheet" href="{% static 'css/styleNav.css' %}" />
    <link text="text/css" rel="stylesheet" href="{% static 'css/styleTable.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Pacientes</title>
</head>

<body>
    {% include 'navigation.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-sm-3 col-xs-12">
                                <h4 class="title">Listado <span>Pacientes</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Direccion</th>
                                    <th>Ciudad</th>
                                    <th>Edad</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for p in pacientes %}
                                <tr>
                                    <td>{{p.id}}</td>
                                    <td>{{p.nombre}}</td>
                                    <td>{{p.apellido}}</td>
                                    <td>{{p.direccion}}</td>
                                    <td>{{p.ciudad}}</td>
                                    <td>{{p.edad_paciente}}</td>
                                    <td>
                                        <ul class="action-list">
                                            <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                            <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </ </body>

</html>